
src/ApplicationServices/bin/

src/ApplicationServices/obj/

src/DBService/bin/

src/DBService/obj/

src/Dtos/bin/

src/Dtos/obj/

src/InvoicesWebApp/bin/

src/InvoicesWebApp/obj/

src/InvoicesWebAppTest/bin/

src/InvoicesWebAppTest/obj/
